body {
    background-color: #101018;
  }
  
  /*----------------------Thank You-----------------------*/
  
  .top-section {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.51) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    width: 1200px;
    margin: 0 auto;
    border-radius: 70px;
    padding-top: 212px;
  }
  
  .headline-check {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    color: #ff6001;
    padding-top: 20px;
    margin-bottom: 6px;
  }
  
  .text-check {
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 28px;
  }

  .text-check-left {
    padding-left: 50px;
  }

  .text-check-3 span {
    padding-left: 15px;
  }
  
  .order {
    background-color: white;
    color: #000000;
    padding: 0px 15px;
    height: 64px;
  }
  
  /*----------------------Order Summary-----------------------*/
  
  .summary-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 40px 200px;
    align-items: center;
    justify-content: center;
  }
  
  .summary {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.51) 100%);
    padding: 50px 0px;
    width: 466px;
    display: flex;
    flex-direction: column;
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
  }
  
  .Game1,
  .Game2 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }
  
  .game-pic {
    height: 90px;
    width: 70px;
    margin: 0;
  }
  
  
  /*---------------------- Shipping/payment -----------------------*/
  
  .Shipping {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.51) 100%);
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  
  .Billing {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.51) 100%);
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px;
    grid-column: 2 / span 1;
  }
  
  .Shipping-method {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.51) 100%);
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
  }
  
  .payment-method {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.51) 100%);
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
  }
  
  .map {
    height: 80px;
    width: 80%;
    box-sizing: unset;
    border-radius: 50px;
    width: 100%;
  }