body {
    background-color: #101018;
}

/*-------------------------------------------------- Hero --------------------------------------------------*/

.Hero {
    width: 100%;
    height: 800px;
    background-image: url(/IMAGES/carsss.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
}

.herotext {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.56) 100%);
    height: 270px;
    width: clamp(350px, 50%, 520px);
    border-radius: 40px 0px 0px 40px;
    margin-bottom: 180px;
}

.herotext h1 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 5.4px;
    margin-top: 52px;
    line-height: 1.0;
}

.herotext h1 span {
    color: #00ffff;
    font-weight: 600;
}

.herotext p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 30px;
}

#view-btn2 {
    background-color: #FF6001;
    height: 42px;
    width: 150px;
    border-radius: 50px;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: 'Poppins';
    text-decoration: none;
    display: inline-block;
    padding-top: 8px;
}

#view-btn2:hover {
    background-color: #00ffff;
    transform: scale(1.1);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Hero {
        height: 500px;
        width: 100%;
    }

    .herotext {
        height: 230px;
    }

    .herotext h1 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .Hero {
        height: 400px;
    }

    .herotext {
        height: 180px;
        margin-bottom: 50px;
    }

    .herotext h1 {
        font-size: 24px;
        margin-top: 34px;
    }

    .herotext p {
        margin-bottom: 16px;
    }

    #view-btn2 {
        height: 30px;
        width: 120px;
        padding: 2px 0px;
    }
}

/*-------------------------------------------------- Sort by --------------------------------------------------*/

.nav-line {
    height: 72px;
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.sort-by {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 72px;
    padding-right: 100px;
}

.sort-by p span {
    background-color: white;
    color: #000000;
    padding: 22px;
    margin-left: 40px;
}

.best-match {
    color: black;
    background-color: white;
    display: flex;
    position: relative;
    margin-right: 82px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#filter {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .nav-line {
        justify-content: space-between;
    }
    
    .sort-by {
        padding-right: 12px;
    }

    #filter {
        display: block;
        height: 30px;
        width: 100px;
        margin-left: 12px;
        background-color: #FF6001;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-radius: 50px;
    }

    .filter {
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px){
    .nav-line {
        justify-content: space-between;
    }
    
    #filter {
        display: block;
        height: 30px;
        width: 100px;
        margin-left: 12px;
        background-color: #FF6001;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-radius: 50px;
    }

    .filter {
        display: none;
    }

    .sort-by {
        padding-right: 12px;
    }

    .sort-by p span {
        padding: 10px 6px;
        margin-left: 10px;
    }
}


/*-------------------------------------------------- SHOP CONTAINERS  --------------------------------------------------*/

.shop-main-container {
    display: flex;
    gap: 10px;
}

.shop-grid {
    display: grid;
    padding: 30px 60px;
    gap: 20px;
    width: 100%;
    justify-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 400px 400px 400px 400px 400px 400px;
    margin-right: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .shop-grid {
        padding: 0;
        margin: 0;
        grid-template-columns: 21% 21% 21% 21%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        padding-top: 10px;
        gap: 22px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .shop-grid {
        padding: 10px;
        margin: 0;
        grid-template-columns: 48% 48%;
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
        gap: 14px;
    }
}

/*-------------------------------------------------- Filter --------------------------------------------------*/

.filter {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.31) 100%);
    width: 300px;
    height: 1736px;
    border-radius: 50px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 40px;
}

.filter h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #D22CF5;
    margin-top: 40px;
    letter-spacing: 0.4px;
    line-height: 1.5;
    margin-left: 40px;
}

.filter p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.4px;
    margin-left: 40px;
}

.filter p:hover {
    cursor: pointer;
}

.solid-stars {
    color: #FF6001;
}

.empty-stars {
    color: #D9D9D9;
}

.four-stars,
.tree-stars,
.two-stars,
.one-stars {
    margin-left: 40px;
    line-height: 2.0;
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .filter {
        margin: 10px 10px;
        padding: 0;
        width: 200px;
        height: auto;
    }

    .filter h2 {
        font-size: 18px;
    }

    .filter p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .filter {
        display: none;
    }
}

/*-------------------------------------------------- GAMES --------------------------------------------------*/

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.51) 100%);
  }
  
  .game-container img {
    height: 175px;
    width: 135px;
  }
  
  .game-container h3,
  .shop3 h3,
  .shop10 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-align: center;
  }
  
  .game-container p,
  .shop3 p,
  .shop10 p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgb(223, 223, 223);
    line-height: 1;
  }
  
  .shop3,
  .shop10 {
    position: relative;
    grid-column: span 2;
    width: 100%;
    height: 100%;
    grid-row: span 2;
  }
  
  .shop10 div,
  .shop3 div {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    .game-container h3,
    .shop3 h3,
    .shop10 h3 {
        font-size: 14px;
        line-height: 1.5;
        margin: 0;
    }

    .game-container p,
    .shop3 p,
    .shop10 p {
        font-size: 12px;
        line-height: 1.5;
        margin: 0;
    }

    .game-container img {
        height: 100px;
        width: 70px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    
    .game-container h3,
    .shop3 h3,
    .shop10 h3 {
        font-size: 18px;
        line-height: 1.5;
        margin: 0;
    }

    .game-container p,
    .shop3 p,
    .shop10 p {
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
    }

    .game-container img {
        padding-bottom: 20px;
    }
}

/*-------------------------------------------------- BIG GAMES --------------------------------------------------*/

#Ironman img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-container {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.51) 100%);
    height: 100px;
    width: 100%;
    background-color: #000000;
    opacity: 80%;
    text-align: center;
}

#Ninja img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .text-container {
        height: 16%;
        padding: 4px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .text-container {
        padding: 10px;
    }
}

/*-------------------------------------------------- BOTTOM SECTION --------------------------------------------------*/

.bottom-text {
    margin-top: 40px;
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.bottom-text p span {
    color: #FF6001;
    font-weight: 600;
}

#arrow {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
}

#page {
    text-decoration: none;
    padding-left: 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#page-selected {
    color: #FF6001;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .bottom-text {
        height: 16%;
        padding: 4px;
    }
}

