body {
    background-color: #101018;
}

/*--------------------------------SHOPPINGBAG--------------------------------*/

#shop-more-btn {
    margin: 172px 0px 20px 160px;
}

#arrow {
    padding: 0px 10px;
}

.shoppingbag,
.shoppingbag-mob {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.31) 100%);
    width: 80%;
    margin: 0 auto;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    border-radius: 70px;
}

.shoppingbag-mob {
    display: none;
}

.headline-bag {
    grid-column: 1 / span 5;
    color: #ff6001;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.bag-titles {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 30px;
}

.style-2 {
    font-size: 17px;
    font-weight: 400;
    margin: 0;
}

.style-3 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.col-1 {
    grid-column: 1 / span 1;
}

.col-2 {
    grid-column: 2 / span 1;
}

.col-3 {
    grid-column: 3 / span 1;
}

.col-4 {
    grid-column: 4 / span 1;
}

.col-5 {
    grid-column: 5 / span 1;
}

.col-6 {
    grid-column: 6 / span 1;
}

.col-1 img,
.col-7 img {
    height: 62px;
    width: 50px;
}

.line {
    grid-column: 1 / span 6;
    max-width: 96%;
}

.coupon-giftcard {
    grid-column: 1 / span 2;
}

#coupon,
#giftcard {
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.delivery-input label,
.coupon-giftcard label {
    display: none;
}

.col-13 {
    grid-column: 5 / span 1;
}

.col-15 {
    grid-column: 5 / span 1;
}

.style-2 span {
    color: #ff6001;
    font-weight: 500;
}

/*--------------------------------DELIVERY INFO--------------------------------*/

.bottom-part {
    display: grid;
    grid-template-columns: 45% 32.5%;
    grid-row: auto auto;
    gap: 40px;
    margin: 40px 0px;
}

.bottom-part,
.delivery-info {
    justify-content: center;
    align-items: center;
}

.delivery-info {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.31) 100%);
    display: flex;
    flex-direction: column;
    height: 650px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    border-radius: 70px;
}

.delivery-input {
    width: 70%;
}

.del-info {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    width: 600px;
    height: 40px;
    border: none;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-left: 15px;
}

.save-option {
    padding-top: 20px;
    padding-bottom: 60px;
}

#post-office label {
    display: none;
}

#post-office {
    width: 70%;
    border-radius: 6px;
    height: 40px;
    background-color: white;
    border: none;
}

#post-office input {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

/*--------------------------------SHIPPING METHOD--------------------------------*/

.shipping-mtd {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipping-mtd,
.payment-mtd {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.31) 100%);
    display: flex;
    flex-direction: column;
    height: 300px;
    border-radius: 70px;
}

.radio-input-container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 55%;
}

.choose-headline {
    color: #ff6001;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0px;
}

.shipping-price {
    padding-left: 40px;
}
/*--------------------------------PAYMENT METHOD--------------------------------*/

.payment-mtd {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#proceed-btn {
    grid-column: 2 / span 1;
    margin-left: 70%;
}

.fa-cc-paypal {
    padding-left: 40%;
    font-size: 30px;
}

.fa-cc-visa {
    padding-left: 25%;
    font-size: 30px;
}

#klarna-img {
    margin-left: 40%;
    object-fit: fill;
    height: 60px;
    width: 42px;
}

/*--------------------------------MEDIA QUIERIES--------------------------------*/

@media only screen and (min-width: 1081px) and (max-width: 1440px) {
    .radio-input-container {
        width: 100%;
        padding-left: 35px;
    }

    .save-option {
        padding: 6% 10%;
        text-align: center;
    }

    .choose-headline {
        padding: 4% 10%;
    }

    #proceed-btn {
        margin-left: 55%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    body {
        padding-top: 0px;
    }

    .shoppingbag {
        display: none;
    }
    
    .shoppingbag-mob {
        display: grid;
        grid-template-columns: 25% 45% 30%;
        grid-template-rows: auto;
        width: 100%;
        padding: 15% 10%;
        gap: 10px;
    }

    .headline-bag-mob {
        font-size: 22px;
        font-weight: 400;
        color: #ff6001;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .line {
        width: 90%;
        margin: 15px 0px;
    }

    .style-2 {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
    }
    
    .style-3 {
        font-weight: 400;
        font-size: 12px;
        margin: 0;
    }

    .style-4 {
        background-color: white;
        font-size: 12px;
        color: black;
        height: 25px;
        padding-left: 10px;
        width: 80%;
        display: flex;
        align-items: center;
    }

    .orange {
        color: #ff6001;
        font-weight: 500;
    }

    .row-1 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        display: inline-block;
    }

    .row-1-text {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .row-1-2 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }

    .row-1 img,
    .row-2 img {
        height: 80px;
    }

    .row-2 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        display: inline-block;
    }

    .row-2-text {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .row-2-2 {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }

    .row-3-2 {
        grid-column: 3 / span 1;
    }

    #coupon,
    #giftcard {
        height: 36px;
    }

    .bottom-part {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 230px);
        gap: 15px;
    }

    .delivery-info {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        height: 100%;
    }

    .payment-mtd {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
        height: 100%;
    }

    .shipping-mtd {
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
        height: 100%;
    }

    #shop-more-btn {
        margin: 25px;
        display: block;
        float: left;
        height: 36px;
        font-size: 14px;
    }

    .headline-bag {
        font-size: 22px;
    }

    #proceed-btn {
        grid-row: 5 / span 1;
        margin: 15px;
        display: block;
        float: left;
        height: 36px;
        font-size: 14px;
    }

    .choose-headline {
        font-size: 20px;
    }

    .save-option {
        font-size: 14px;
        padding: 5% 10%;
        text-align: center;
    }

    .del-info {
        height: 36px;
        font-size: 14px;
    }

    .radio-input-container {
        width: 70%;
        font-size: 14px;
    }

    .fa-cc-paypal {
        padding-left: 40%;
        font-size: 30px;
    }
    
    .fa-cc-visa {
        padding-left: 25%;
        font-size: 30px;
    }
    
    #klarna-img {
        margin-left: 40%;
        object-fit: fill;
        height: 60px;
        width: 42px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    body {
        padding-top: 0px;
    }

    .shoppingbag {
        display: none;
    }
    
    .shoppingbag-mob {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto;
        width: 95%;
        padding: 10%;
        gap: 30px;
    }

    .headline-bag-mob {
        font-size: 28px;
        font-weight: 400;
        color: #ff6001;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .line {
        width: 80%;
        margin: 15px 0px;
    }

    .style-2 {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    
    .style-3 {
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        line-height: 2.0;
    }

    .style-4 {
        background-color: white;
        font-size: 14px;
        color: black;
        height: 25px;
        padding-left: 10px;
        width: 60%;
        display: flex;
        align-items: center;
    }

    .orange {
        color: #ff6001;
        font-weight: 500;
    }

    .row-1 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .row-1-text {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .row-1-2 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }

    .row-1 img,
    .row-2 img {
        height: 100px;
    }

    .row-2 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .row-2-text {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .row-2-2 {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }

    .row-3-2 {
        grid-column: 3 / span 1;
    }

    #coupon,
    #giftcard {
        height: 38px;
    }

    .bottom-part {
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: repeat(2, 300px);
        gap: 15px;
        width: 95%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .delivery-info,
    .payment-mtd,
    .shipping-mtd {
        height: 100%;
    }

    .delivery-info {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .payment-mtd {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        padding: 8%;
    }

    .shipping-mtd {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        padding: 8%;
    }

    .payment-mtd,
    .payment-mtd label,
    .shipping-mtd label,
    .shipping-price {
        font-size: 14px;
    }

    .payment-mtd i {
        font-size: 20px;
    }

    #shop-more-btn {
        margin: 25px;
        display: block;
        float: left;
        height: 36px;
        font-size: 14px;
    }

    .headline-bag {
        font-size: 22px;
    }

    #proceed-btn {
        grid-row: 5 / span 1;
        margin: 15px;
        display: block;
        float: left;
        height: 36px;
        font-size: 14px;
    }

    .choose-headline {
        font-size: 20px;
    }

    .save-option {
        font-size: 16px;
        padding: 10% 15%;
        text-align: center;
    }

    .del-info {
        height: 40px;
        font-size: 16px;
    }

    .radio-input-container {
        width: 100%;
        font-size: 16px;
    }

    #proceed-btn {
        margin-left: 50%;
    }
}