/*-------------------------------------------------- GLOBAL --------------------------------------------------*/

html {
  box-sizing: border-box;
  background-color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 100rem;
  margin: 0 auto;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

/*-------------------------------------------------- HEADER --------------------------------------------------*/

header {
  height: 7rem;
  background-color: black;
  top: 0;
  position: fixed;
  max-width: 100rem;
  width: 100%;
  z-index: 999;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 0% 10%;
}

#logo {
  font-size: 2.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #d22cf5;
  text-decoration: none;
  line-height: 0.7;
  margin-top: 2.5rem;
}

#logo span {
  color: white;
  font-weight: 400;
}

#logo p {
  font-size: 1rem;
  color: white;
  font-weight: 400;
}

.navigate {
  display: flex;
  justify-content: flex-end;
}

.top-nav {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 4px 20px;
  font-size: 1.375rem;
  margin-top: 2.75rem;
}


/*-------------------------------------------------- NAVIGATIONBAR --------------------------------------------------*/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(16, 16, 24, 0.9);
  height: 60px;
  top: 112px;
  padding: 0 80px;
}

.search-bar {
  background-color: white;
  clip-path: polygon(0 0, 58% 0, 100% 100%, 0% 100%);
  width: 50%;
  height: 80%;
  margin-top: 14px;
}

#search-form {
  position: relative;
}

.searching {
  padding: 10px 15px;
  font-size: 18px;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  width: 100%;
  position: absolute;
  z-index: 999;
  border: none;
}

.nav-header,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ .nav-header {
  display: block;
}

.nav-link {
  display: block;
  color: white;
  padding: 10px 28px;
  text-decoration: none;
}

.top-nav:hover,
.nav-link:hover {
  color: #d22cf5;
  transition: 0.2s;
}

.nav-header {
  display: flex;
  position: absolute;
  left: 0px;
  text-align: center;
  margin-right: 2%;
  z-index: 999;
}

@media (max-width: 1398px) {
  header {
    padding: 18px 3px;
    transition: 0.2s;
    max-height: 7rem;
    position: unset;
  }

  #logo {
    margin-top: 22px;
    transition: 0.2s;
  }

  .top-nav {
    margin-top: 1.375rem;
    margin-bottom: 0px;
    transition: 0.2s;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .navigation {
    padding: 0 10% !important;
  }

  .top-nav {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .navigate {
    padding: 0px 8px;
    margin-top: 14px;
    font-size: 18px;
  }
  .navigation {
    justify-content: flex-start space-between;
    padding: 0px 40px;
  }

  #logo {
    font-size: 24px;
  }

  #logo p {
    font-size: 12px;
  }

  .searching {
    font-size: 14px;
    padding: 10px 0px;
  }
}

@media (max-width: 480px) {
  .search-bar {
    padding-left: 20px;
    width: 90% !important;
  }
}

@media (max-width: 1080px) {
  .nav-header {
    width: 100%;
    display: none;
    background-color: #101018;
  }
  .search-bar {
    width: 70%;
    padding-left: 20px;
  }
}

@media (min-width: 1080px) {
  .nav-header {
    position: static;
    padding: 0;
  }

  .hamburger-icon {
    display: none;
  }

  .nav-link {
    display: inline-block;
  }
}

/*-------------------------------------------------- HEROPICTURE/TEXT --------------------------------------------------*/

.background {
  background-image: url(/IMAGES/header2.png);
  height: 50rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 172px;
}

.textbox {
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.56) 100%);
  height: 270px;
  width: clamp(350px, 50%, 520px);
  border-radius: 40px 0px 0px 40px;
  margin-bottom: 180px;
}

.text-box-headline {
  font-size: 36px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  letter-spacing: 5.4px;
  margin-top: 52px;
}

.text-box-text {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.rounded-btns {
  background-color: #ff6001;
  height: 42px;
  width: 150px;
  border-radius: 60px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  padding-top: 8px;
}

#view-btn {
  margin-left: 180px;
}

.rounded-btns:hover {
  background-color: white;
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .background {
    height: 500px;
    margin-top: 0px;
  }

  .textbox {
    width: 300px;
    margin-bottom: 50px;
  }

  .text-box-headline {
    font-size: 30px;
  }

  #view-btn {
    margin: 0 auto;
    width: 130px;
    height: 36px;
    padding-top: 5px;
  }
}

@media (max-width: 1400px) {
  .background {
    margin-top: 0px;
  }
}

/*-------------------------------------------------- FEATURED GAMES --------------------------------------------------*/

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex: 1;
  height: 0.5px;
  margin: 0 10px;
  background-color: white;
  max-width: 100%;
}

.subtitle h2 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.subtitle h2 span {
  color: #ff6001;
}

/*-------------------------------------------------- GALLERY1 --------------------------------------------------*/

.gallery {
  background: linear-gradient(180deg, rgba(16, 16, 24, 0.9) 0%, rgba(16, 16, 24, 0) 100%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 480px) {
  .gallery {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
  }
}

.desc {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.desc1 {
  height: 42px;
  width: 232px;
  background: black;
  opacity: 80%;
  text-align: center;
  padding-top: 8px;
  margin-top: -46px;
}

.games {
  margin: 30px 40px;
}

.games img {
  height: 286px;
  width: 232px;
  object-fit: cover;
}

.games:hover {
  transform: scale(1.1);
  transition: 0.15s;
}

.Desc1:hover {
  height: -286px;
  transition: 1s;
}

/*-------------------------------------------------- INFORMATIONAL --------------------------------------------------*/

.info-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 130px 60px;
}

.info-container img {
  height: 316px;
  width: 558px;
  margin: 0px 80px;
}

.text-box {
  display: block;
  align-items: center;
  margin: 0px 80px;
}

.text-box-subtitle {
  font-size: 28px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5;
}

.text-box p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

#read-btn {
  margin: 0 auto;
}

@media (max-width: 800px) {
  .info-container img {
    width: 100%;
    object-fit: contain;
    margin: 10% 0%;
    padding: 0;
    height: 300px;
    opacity: 40%;
  }

  .info-container {
    box-sizing: unset;
    padding: 0;
    margin: 0;
    display: relative;
  }

  .text-box {
    position: absolute;
    margin: 0px 40px;
  }

  .text-box h4 {
    font-size: 20px;
  }

  .text-box p {
    font-size: 16px;
    padding-bottom: 10px;
  }

  br {
    display: none;
  }

  #read-btn {
    text-align: center;
    height: 28px;
    width: 120px;
    padding: 4px;
  }
}

/*-------------------------------------------------- NEWSLETTER --------------------------------------------------*/

#newsletter-container {
  display: flex;
}

#newsletter-content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 70%;
}
#newsletter-image-container {
  width: 30%;
}

#newsletter-img {
  width: 100%;
  height: 490px;
  object-fit: cover;
}

#newsletter {
  background-color: white;
  width: 450px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
}

.news-letter-text-box {
  display: block;
  align-items: center;
  padding: 0px 90px;
}

.news-letter-text-box p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

#email {
  font-size: 18px;
  width: 72%;
  border: none;
  height: 100%;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
}

#subscribe-btn {
  background-color: #ff6001;
  font-family: 'Poppins', sans-serif;
  color: black;
  height: 48px;
  width: 120px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

#subscribe-btn:hover {
  background-color: white;
}


@media (max-width: 800px) {
  #newsletter-container {
    flex-direction: column;
    position: relative;
  }
  #newsletter-image-container {
    position: absolute;
    z-index: 0;
    opacity: 0.5;
    width: 100%;
  }
  #newsletter-content-container {
    z-index: 1;
    width: 100%;
  }
  .news-letter-text-box {
    padding: 20px;
    margin: 0;
  }
  #newsletter {
    width: 100%;
  }
  #newsletter-img {
    width: 100%;
    margin: 0;
    height: 100%;
  }
}

/*-------------------------------------------------- Footer --------------------------------------------------*/

#footer-main {
  display: flex;
  background-color: black;
  border-top: 1px solid #101018;
  color: white;
  margin-top: 50px;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  padding: 50px 0px;
}

#contact-information-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#footer-heading {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}

.footer-p {
  font-weight: 300;
  font-size: 15px;
}

#follow-btn {
  padding: 6px 8px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.Follow {
  display: flex;
  flex-direction: column;
}

.Follow div {
  display: flex;
}

.contact-footer,
.Terms {
  padding-left: 6px;
  font-size: 12px;
}

#follow-btn:focus,
#footer-heading:focus {
  color: #ff6001;
  transition: 1s;
}

@media (min-width: 800px) {
  .contact-footer {
    font-size: 16px;
  }

  .Terms {
    font-size: 16px;
  }

  .footer-p {
    font-size: 16px;
  }

  #footer-heading {
    font-size: 18px;
    padding: 0;
  }
}

@media (min-width: 1180px) {
  #footer-heading:hover {
    color: #ff6001;
    transition: 0.3s;
  }

  .contact-footer {
    font-size: 14px;
  }

  .Terms {
    font-size: 14px;
  }

  .footer-p {
    font-size: 14px;
    line-height: 1;
  }

  #follow-btn {
    font-size: 24px;
    padding: 15px 20px 15px 0px;
  }

  #follow-btn:hover {
    color: #ff6001;
    transition: 0.2s;
  }

  #footer-heading {
    font-size: 16px;
  }
}

#follow-container-mobile {
  display: none;
}

#terms-container-mobile {
  display: none;
}

#contact-container-mobile {
  display: none;
}

@media (max-width: 800px) {
  
  #follow-container,
  .contact-footer {
    display: none;
  }

  #footer-main div {
    width: 30% 30% 30% 10%;
  }

  #follow-container-mobile {
    display: flex;
    flex-direction: column;
  }

  #follow-btn {
    font-size: 20px;
  }

  #footer-heading {
    font-size: 16px;
  }

  #terms-container-mobile {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100% !important;
  }

  #contact-container-mobile {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 0;
  }

  .footer-p {
    line-height: 0.5;
    font-size: 12px;
  }
}